<a href="https://colab.research.google.com/github/1966hs/MujeresDigitales/blob/main/Clase01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introduccion**

---

En Python  hay varios tipos de datos : 
Compuesto que estan dispobinles por defecto en los interpretes 

*interprete: es lo que coniverte codigo a lenguajhe natural *

Manejar un codigo limpio:
1. Manejar siempre minuscula 
2. seguida la deficion con el numero asignado **ana1**
3. se pueen añadir numeros 

**Tipos:**
1. Numericos 
2. Secuencias 
3. Mapeos 
4. consujuntos usando para agrupar otros valores 

***Difenrecia entre Constatantas y variables ***

Constante = Mangnitud que no cambia con el paso del tiempo 

Variable= cantidad que es susceptible a tomar distintos valores numericos

In [1]:
x=2
print(x)

2

***Tipos de datos: ***


---


***Integer = Enteros: ***

 Son numeros que no tienen decimales 
 Pueden ser positivos y negativos

In [4]:
h=int(8)
print(h)

8

**Float:**
Comando libre de punto flotante, como los numeros decimales

In [3]:
b=float(9.99)
print(b)

9.99

**Tipo Cadena**


---


las cadenas son texto encerrado entre cillas (Simples o dobles) y se pueden conformar de difenrertes caracteres ( Numericos, alfabeticos, Especiales)

Tener en cuneta, las cadenas admiten operadores como la suma y la resta

In [2]:
val1= "Heidy Vanegas "
print(val1)

Heidy Vanegas

In [5]:
n="Aprender"
z="Python"
a="es"
b="Genial"
print(n,z,a,b)
//w=("Aprender Python es Genial")
//nzab=(a+" "+ z+"  "+ a+" " +b" ")

Aprender Python es Genial

***Tipo Booleanos ***

***True or Flase ***

este tipo de variable solo tendra un valor sea Verdadero o Falso

*son valores usados en condiciones y bucles*

In [7]:
lola=True
print("El valor es Verdadero ", "el cual es de tipo:" , type(lola))

El valor es Verdadero  el cual es de tipo: <class 'bool'>

In [8]:
lola=False 
print("El valor es Falso ", "el cual es de tipo:" , type(lola))

El valor es Falso  el cual es de tipo: <class 'bool'>


Python cuenta con tipos de datos que admiten colecciones :

1. Listas 
2. Tuplas
3. Diccionarios 

**Tipo de Conjuntos:**
son una coleccion de datos sin elementos que se repiten

In [9]:
fru="pera","manzana","naranja"
print(fru)

('pera', 'manzana', 'naranja')

Para darme cuenta que es un conjuntos se muestran es parentesis  

---
cuando es cojunto entre parentisis y si es lista entre corchetes

**Tipo Listas**


---
Son listas las que almacenan vectores

Vectores: fila o columna que tiene varios datos

al nombrar una lista lo hago con corchetes 
pueden ser de cualquier tipo de dato´
y el conteo empieza desde cero (0)

**Tipo Tuplas**


---
*Es una lista que no se puede modificar despues de la creacion de esta *

( Es un conjunto lista ) 

```
Una lista entre otra lista 
Lista anidadas: Agrapacion 
otra=tupla,(1,2,3,4)
print(otra)
((23,28,"Heidy")(1,2,3,4))

```

In [10]:
tupla=23,28,"Heidy"
print(tupla)

(23, 28, 'Heidy')