<a href="https://colab.research.google.com/github/1966hs/MujeresDigitales/blob/main/clase02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Operadores Matematicos ***

---

los operadores permiten realizar diferentes procesos de calculo en cualuiqer lenguaje de programacion

1. Suma 
2. Resta 
3. Multiplicacion
4. Division
5. Potenciacion
6. Modulo

**Suma:**




Simbolo suma(+) el cual se utiliza en medio de la declaracion de las variables a operar

In [ ]:
print(23+989) #directamente
a=23  #declarando las variables 
b=668
print(a+b)

1012
691

In [ ]:
numero_casas=23
print(numero_casas + 87) 
numero_casas=numero_casas + 12  #conteo continuo 
print(numero_casas)

110
35

**Suma entre los diferentes tipos de variables**



---
1. Declaracion de variables numericas enteras
2. Flotantes ( incorpra y flexibiliza laa los decimales 
3. Tipo cadena


*Entre un entero y un flotante el tipo de dato que predomina es el flotante (tanto para suma y para resta*

In [ ]:
q1=23
q2=34.8
print(q1+q2)
print(type(q1+q2))  #Type((para que me muestre el tipo de dato que estoy usando ))

57.8
<class 'float'>

In [ ]:
v1="quiero"
v2="un celular"
print(v1,v2)

quiero un celular

**Resta**

Simbolo resta(-) el cual se utiliza en medio de la declaracion de las variables a operar

In [ ]:
xq2=345
xq3=35
print(xq2-xq3)

xq2=345.99
xq3=35
print(xq2-xq3)

310
310.99

**Importante La resta no funciona directamente para variables tipo cadena**

**Multiplicacion**

Definamos la multiplicacion como la suma de varias veces un numero, cantidad de veces indicadas por el otro numero,  simbolo que se maneja es ( *)

In [ ]:
cali=78
palmiras=98
print(cali*palmiras)

7644

**Importante, se aplica la ley conmutativa**

La ley conmutativa es el orden de los valores no altera el resulltado ( Aplica para suma y multiplicacion)

  **Division**



---

**No** aplica la ley conmutativa, y el simbolo de dision es (/)

In [ ]:
a=7
b=8
print(a/b, b/a)

**Tipos de Division**


---

1. Division exacta (/) *el residuo queda ahi en la operacion*
2. Division Inexacta (//) *muestra solo el residuo en numero entero*

In [ ]:

print(14/3)
print(14//3)

4.666666666666667
4

Para **Print** podemos separar las operaciones por variables con (,) Lo cual, no afecta la impresion de los resultados por operacion signada

Nota : Operacion de division, al igual que una division normal, **No es posible dividir entre cero. Â¿Por que? Por que es matematicas es un resultado indefinido.

**Potenciacion** 

En Python el simbolo es (**) 

El primer valor es la base y el ultimo valor es el exponente

In [ ]:
print(2**6)

64

**Modulo**

La llamamos modulo al residuo de la operacion de division. El simbolo para mostrar el residuo es (%) El primer valor es el diviviendo y el ultimo valor es de divisor

In [ ]:
print(2%5)

2

**OPERADORES DE COMPARACION**



---

Los operadores de comparacion sirven para comparar varios valores

**Igualdad:**

Simbolo es Python es (==)

In [ ]:
x=30
z=48
print(x==z)

False

In [ ]:
a="Heidy"
b="David"
print(a==b)

False

**Diferencia**

a diferencia del operador igual, el simbolo esta combinado por el simbolo de admiracion (!=) 
Para decir que algo es difernete a otra cosa *texto en cursiva*

In [ ]:
a=88
B=88
print(a!=B)

False

**Mayor que** 

Simbolo en Python  (>)

*Siempre en comparativa se desingna cual es menor o mayor; por el valor que esta a al izquierda de la operacion*

*Muestra valores booleanos*

Nota:
**Se lee de izquierda a derecha en todas la operaciones que realicemos**

In [ ]:
print(8>7)

True

**Menor que** 


izquierda a derecha 
(<)

In [ ]:
a=8
b=6
print(a<b)

False

**Mayor o Igual que** 

es similar al mayor que, con la diferencia de que la forma en dara resultado si ambos numeros son iguales y flexibles dado verdadero de igual si el valor de la izquierda es maor que el de la derecha. El simbolo es (>=)

In [ ]:
x=12
v=87
print(x>=v)

False

**Menor o igual que**

con el simbolo (<=)

In [ ]:
x=45
print(x<=46)

True

Tener en cuenta: En comparacion los resultados que nos arrojan siempre es de tipo Booleano es decir: True o Flase



**Operadores Logicos**



---
Python incluye tres operadores logicos base:
 1. AND (Y)
 2. OR (O)
 3. NOT (No)

 Los operadores logicos funcionan solo con variables booleanos, a su vez devuelven como respuesta valores booleanos

**Operador AND (Y)**



---
**Este operador solo delvolvera (Verdadero) si ambos valores lo son.**

Â¿Como usarlo?

Para usar este operador basta con escribir un valor Booleano, luego la palabra **and** y por ultimo otro valor booleano,

In [ ]:
print(True and False)

False


**True and True = True** 

True and False = False

False and False = False

False and True = False

**Operador OR (O)**


---
*Al menos uno debe ser verdadero para cumplir si los dos son falsos el resultado es false*

OR devuelve a todo verdadero . a menos que ambos valores sean Falsos

In [8]:
print(True or False)

True

True or True = True 

True or False = True

False or True = True

**False or False = False**

In [10]:
a=3
b=2
print(a>4 or a==4)
print(b==b and a>=b)

False
True

**Operador NOT (NO)



---
Nos permite negar una parte de la opercion 

es especial por que por si solo no sirve para hacer niguna operacion, lo que hace es negar, inivierte el valor booleano que viene despues de el

In [12]:
print(not True)
print(not False)

False
True

**PRECEDENCIA DE OPERADORES**


---
Es muy imporntante el orden de las operaciones: 

1. De izquierda a derecha 
2. Parentesis 
3. Potenciacion o radicacion 
4. Multiplicacion y division 
5. La suma y la resta 

Ejemplo:

4-2(10)

1. Primero los parentesis 

4-2*10

2. Se continua con la multiplicacion

4-20

3. Por ultimo la resta

4-20=-16 

Â¿Cual crees que es el resultado de esta operacion?:

In [13]:
a=False
b=True 
c=True 
print( not c and (a or b ))

False

In [14]:
print(3-2*(13-5))

-13

**RESUMEN**

1. Aplicacion de la ley conmutativa: solo para suma y resta (Operadores basicos)
2. Los resultados con operados logicos son tipo booleano
3. **No** se puede realizar resta entre variables de tipo cadena ( El procedimiento si abarca numeros es la conversion desde el inicio).
4. Si aplicamos el condicional AND, para el que el resultadi sea TRUE, la unica forma es que ambos resultados sean verdaderos 
5. Con el OR, si cumple asi sea 1 de los dos valores a verdadero el resultado sera TRUE



---

**EJERCICIOS CLASE 02**

---

In [8]:
a=True 
b=False
c=True 
print( not b and c )
print(a==c and a!=b)

True
True

In [2]:
a=26
b=30
c=56
d=a+b
print(c==d and a!=b)

True

In [5]:
q1=34
q2=56
q3=q1+q2
print(q3)
print(q3>=q1 or q1<=21) 
print(q3==90 and q1==q2)

90
True
False

In [7]:
hola=23
casa=34
w3=55
print(w3==casa or w3==hola )

False

In [10]:
w1=True
w2=False
w3=False
print( w1==w2 )
w1=False
print(w2==w1 and (w3==False) )

False
True